@{
    ViewData["Title"] = "Controle de Estoque";
}

<div class="header-container">
    <h1 class="page-title">Estoque</h1>
</div>

<div class="content-container">
    <p>Controle de produtos em desenvolvimento...</p>
</div>
