@{
    ViewData["Title"] = "Prontuários Digitais";
}

<div class="header-container">
    <h1 class="page-title">Prontuários</h1>
</div>

<div class="content-container">
    <p>Histórico de prontuários em desenvolvimento...</p>
</div>
