@{
    ViewData["Title"] = "Relatórios Gerenciais";
}

<div class="header-container">
    <h1 class="page-title">Relatórios</h1>
</div>

<div class="content-container">
    <p>Extração de dados em desenvolvimento...</p>
</div>
